.customNavbarCollapse{
    position: relative;
}

.customNavbarCollapse > ul > li ~ li{
        --tw-space-x-reverse: 0;
        margin-right: calc(1.5rem * var(--tw-space-x-reverse))!important;
        margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))!important;
}
.customUserButton {
    max-width: 10em;
}
@media screen and (min-width: 767px) and (max-width: 1024px){
    .customNavbarCollapse > ul > li ~ li{
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem * var(--tw-space-x-reverse))!important;
        margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))!important;
    } 
}
@media screen and (max-width: 767px){
    .customNavbarCollapse > ul > li ~ li{
        --tw-space-x-reverse: 0;
        margin-right: 0!important;
        margin-left: 0!important;
    }
}